page-attendence {

    ion-header {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    }

    .att-card {
        padding: 1rem;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        margin-bottom: var(--margin-more);
    }

    .att-card h4.subject {
        font-family: 'Roboto Slab', sans-serif !important;
    }

    .att-card h4 i {
        font-size: var(--header-fontsize);
        color: var(--main-bg);
    }

    .att-card p.time {
        margin: 0.5rem 0;
        color: var(--color-darkgrey);
        text-align: right;
    }

    .att-card .pro-bar-container .pro-bar {
        height: 0.4rem;
        border-radius: 0.1rem;
    }

    .att-card:nth-child(even) .pro-bar-container .pro-bar {
        background: rgba(0,255,0,0.2);
    }

    .att-card:nth-child(odd) .pro-bar-container .pro-bar {
        background: rgba(255,0,0,0.2);
    }

    .att-card .pro-bar-container .pro-bar-deep {
        height: 0.4rem;
        border-radius: 0.1rem;
        width: 50%;
    }

    .att-card:nth-child(even) .pro-bar-container .pro-bar-deep {
        background: rgba(0,255,0,0.95);
    }

    .att-card:nth-child(odd) .pro-bar-container .pro-bar-deep {
        background: rgba(255,0,0,0.95);
        width: 85%;
    }

    .att-card p.percent-container {
        margin-top: 1.2rem;
    }

    .att-card p.percent-container span {
        display: inline-block;
        background: #f2f2f2;
        padding: 0.8rem 1.1rem 0.7rem;
        color: var(--color-darkgrey);
        border-radius: 1rem;
        margin: 0 0.4rem;
    }
}
