// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

:root {
    --main-bg: #9400D0;
    --color-white: #fbfbfb;
    --color-dark: #222;
    --margin-more: 1.8rem;
    --fontsize-normal: 1.5rem;
    --header-fontsize: 2.45rem;
    --login-input-fontsize: 2.8rem;
    --button-padding-normal: 1.5rem;
    --btn-bg-white-fade: rgba(255, 255, 255, 0.3);
    --btn-shadow-light: 0 10px 7px -5px rgba(0, 0, 0, 0.07);
    --button-fontsize-normal: 2.2rem;
    --color-darkgrey: #777;
}

ion-header {
    font-family: "Roboto Slab", sans-serif !important;
}

ion-header ion-title .toolbar-title-md {
    font-size: var(--header-fontsize) !important;
}

ion-content {
    font-family: "Roboto", sans-serif !important;
}

ion-content * {
    margin: 0;
    padding: 0;
    color: var(--color-dark);
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background: none;
}