// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

:root {
    --main-bg: #9400D0;
    --main-gradient: linear-gradient(141deg, #8e61c1 0%, #9f6adc 51%, #9400D0 75%);
    --color-white: #fbfbfb;
    --color-dark: #222;
    --margin-more: 2rem;
    --fontsize-normal: 1.5rem;
    --header-fontsize: 2.45rem;
    --login-input-fontsize: 2.8rem;
    --button-padding-normal: 1.5rem;
    --btn-bg-white-fade: rgba(255, 255, 255, 0.3);
    --btn-shadow-light: 0 10px 7px -5px rgba(0, 0, 0, 0.07);
    --button-fontsize-normal: 2.2rem;
    --color-darkgrey: #777;
}

ion-header {
    font-family: "Roboto Slab", sans-serif !important;
}

ion-header .toolbar-background {
    background: none;
}

ion-header ion-title .toolbar-title-md {
    font-size: var(--header-fontsize) !important;
}

ion-header ion-title.sidemenu-title {
    background: url('../../assets/imgs/bpit1.jpg');
    background-size: cover;
    background-position: center;
    margin: -4px;
}

ion-header ion-title.sidemenu-title .toolbar-title-md {
    padding: 0;
}

ion-header ion-title.sidemenu-title .sm-title-shadow {
    padding-top: 16rem;
    background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.5) 75%);
    margin: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

ion-header ion-title.sidemenu-title .sm-title-shadow h3 {
    margin: 0;
    color: var(--color-white);
    font-size: 2.5rem;
}

ion-header ion-title.sidemenu-title .sm-title-shadow p {
    font-size: 1.45rem;
    color: var(--color-white);
    margin: 0;
    padding-top: 0.7rem;
}

ion-content {
    font-family: "Roboto", sans-serif !important;
}

.menu-content .fixed-content {
    margin-top: 0rem !important;
}

ion-content * {
    margin: 0;
    padding: 0;
    color: var(--color-dark);
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background: none;
}

.sm-wrapper {
    margin-top: 2rem !important;
}

.smenu-items {
    margin-top: 1rem;
}

.smenu-items i {
    font-size: 2.5rem;
    margin-right: 1rem;
}

.smenu-items .item-inner {
    border: none !important;
}

.menu-footer {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: var(--color-darkgrey);
}

.menu-footer span {
    font-weight: 600;
}