page-studentlogin {
    ion-header .toolbar-background {
        background: none;
    }

    ion-header button,
    ion-header ion-title .toolbar-title-md {
        color: var(--color-white) !important;
    }

    ion-content {
        background: var(--main-bg) !important;
    }

    ion-content .form {
        padding-top: 50% !important;
    }

    ion-content .form .enroll-label,
    ion-content .form .pass-label {
        color: var(--color-white);
        margin-bottom: 0.4rem;
    }

    ion-content .form input {
        background: none;
        border: none;
        font-size: var(--login-input-fontsize);
        margin-bottom: var(--margin-more);
        color: var(--color-white) !important;
        width: 100%;
    }

    ion-content .form input::placeholder {
        color: var(--color-white) !important;
    }

    ion-content .form button.login-next {
        display: block;
        background: none;
        border: none;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        padding: 1rem 0;
        color: var(--color-white);
        font-size: var(--button-fontsize-normal);
    }
}
